In [8]:
import sqlite3
conn=sqlite3.connect("database.db")
c=conn.cursor()
c.execute("""
     CREATE TABLE customer(
         id INTEGER PRIMERY KEY,
         name TEXT,
         age INTEGER,
         city TEXT
     )
 """)

In [12]:
import sqlite3
conn=sqlite3.connect("database.db")
c=conn.cursor()

c.execute("INSERT INTO customer VALUES(1,'anagha',25,'kuthuparamba')")
c.execute("INSERT INTO customer VALUES(3,'chethana',25,'kannur')")
c.execute("INSERT INTO customer VALUES(4,'pinky',26,'payyanur')")
conn.commit()
conn.close()

OperationalError: database is locked

In [14]:
import sqlite3
conn=sqlite3.connect("database.db")
c=conn.cursor()

c.execute("INSERT INTO customer VALUES(1,'anagha',25,'kuthuparamba')")
c.execute("INSERT INTO customer VALUES(3,'chethana',25,'kannur')")
c.execute("INSERT INTO customer VALUES(4,'pinky',26,'payyanur')")
conn.commit()
conn.close()

In [ ]:
import sqlite3
import pandas as pd
conn=sqlite3.connect("database1.db")
df=pd.read_sql("SELECT * FROM customer",conn)
print(df)